.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    font-size: 32px;
}

.welcome{
    color: blue;
}

.user-name{
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.container > div{
    display: inline;
}

.container .message{
    display: block;
    color: green;
}

.logout{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    padding-inline: 30px;
    font-size: 20px;
    background: none;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: ease 200ms;
}

.logout:hover{
    background: rgba(133, 1, 1, 0.2);
    border: 2px solid black;
    color: black;
}